body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
}

.section {
    margin-bottom: 50px;
}

.content {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.content .text {
    flex: 3;
    padding: 15px;
    text-color: #f3efef
    margin-left: 20px; /* Lề trái */
    margin-right: 20px; /* Lề phải */
}

.content .sidebar {
    flex: 1;
    background-color: rgba(237, 184, 166, 0.85);
    padding: 20px;
    margin-left: 20px;
}

h1 {
    color: #2e8b57;
    font-size: 36px;
    margin-bottom: 10px;
}

h1.hcm{
    color: #3cb371;
}

.quote {
    font-style: italic;
    font-size: 24px;
    text-align: right;
    margin: 20px 0;
}

.images, .video {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.images img, .video iframe {
    width: 80%;
    height: auto;
    margin-bottom: 20px;
}

.comment-section {
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;

}

.comment-section textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 16px;
}

.comment-section button {
    display: block;
    width: 100px;
    padding: 10px;
    background-color: #2e8b57;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    font-size: 18px;
    margin-bottom: 10px;
}

ul li {
    font-weight: bold;
    font-size: 50px
}

.div {
display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.div1 {
    flex: 1;
    padding: 10px;
}

.div2 {
    flex: 1;
    padding: 15px;
    text-align: left;
    align-self: center;
    background: #ede0bc;
}
.div3{
    flex: 1;
    padding: 15px;
    text-align: right;
    align-self: center;
    background: #ede0bc;
}
.img{
}
.img1,
.img2,
.img3{
    width: 300px;
    height: 350px;
}
.img2{
    margin-left: 145px;
}
.img3{
    margin-top: 30px;
}
.main{
    background-color:#ece6e6;
    margin-left: 70px;
}
.main1{
    border-bottom: 1px solid black;
}
.video1{
    width: 800px;
}
